# Shared compose env
SQL_SA_PASSWORD=YourStrong!Passw0rd
SQL_DB=expenses
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=rootpass
MONGO_DB=expenses_auth
JWT_SECRET=change-me-in-prod
JWT_REFRESH_SECRET=change-me-too
