NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:5173

# SQL Server
SQL_HOST=localhost
SQL_PORT=1433
SQL_USER=sa
SQL_PASSWORD=YourStrong!Passw0rd
SQL_DB=expenses

# Mongo
MONGO_URI=mongodb://root:rootpass@localhost:27017/expenses_auth?authSource=admin

# JWT
JWT_SECRET=change-me
JWT_REFRESH_SECRET=change-me-too
JWT_EXPIRES_IN=1d
